.student {
    border: 2px solid black;
    width: 300px;
    margin: 10px;
}

.student h2 {
    padding-left: 20px;
}

p {
    margin: 10px;
}

button {
    margin: 5px;
}

.border {
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
}

.border input {
    margin: 3px;
}